@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}
:root {
    --cor1:#ffffff;
    --cor2:#000000;
    --cor3:#D3D3D3;
    --cor4:#F5F5DC;
    --cor5:#A9C0C9;
}

body {
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


header {
    color: rgb(15, 15, 15);
    text-align: center;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 3vw;
    padding: 50px;
    background-position:center;
    background-size: cover;
    background-color: var(--cor1);
    text-shadow: 1px 1px 1px black;
}


header > p{
    font-size:30px;
}

nav{
     background-color: rgba(0, 0, 0, 0);
     padding: 5px;
     text-align: right;
      background-image: linear-gradient(to right, black, white);
}
nav > a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px;
    font-size: 1em;
    font-weight: bolder;
    transition-duration: 0.5s;

}

nav > a:hover{
    color: var(--cor2);
    border-radius: 2px;
}

main {
    background-color: rgba(255, 255, 255, 0);
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    margin-bottom: 20px;
   
}

main h1{
    color: black;
    text-align: center;
    padding-bottom: 10px;
    font-weight: bolder;
    text-transform: uppercase;
    margin-top: 50px;
}

main p {
    color: black;
    font-size: 1em;
    text-align: justify;
    margin-top: 10px;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1.2em;
}

section > p {
    display: inline-block;
    padding: 5px;
    color: blac;
    margin-bottom: 20em;
    font-size: 1.3em;

}
a {
    text-decoration:none;
    color: black;
    font-weight: bold;
}

a:hover {
    color: var(--cor2);
    text-decoration: underline;
}

footer > p {
    color: black;
}
footer{
    background-color: var(--cor1);
    text-align: center;
    padding: 5px;
    font-size: 1em;
    margin-top: 20px;
    color: white;   
}