@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}
:root {
    --cor1:#ffffff;
    --cor2:#000000;
    --cor3:#333333;
    --cor4:#f7cac9;
    --cor5:#d3d3d3;
}

body {
    background-color: var(--cor1);
    color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


header {
    color: var(--cor1);
    text-align: center;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 3vw;
    padding: 50px;
    background-position:center;
    background-size: cover;
    background-color: var(--cor5);
    text-shadow: 1px 1px 1px black;
}


header > p{
    font-size:30px;
}

nav{
     background-color:#a68e037a;
     padding: 10px;
     text-align: right;
    
}
nav > a {
    color: var(--cor1);
    text-decoration: none;
    padding: 5px;
    font-size: 1em;
    font-weight: bolder;
    transition-duration: 0.5s;

}

nav > a:hover{
    color: var(--cor2);
    border-radius: 2px;
}

main {
    background-color: var(--cor1);
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    margin-bottom: 20px;
   
}

main h1{
    color: black;
    text-align: center;
    padding-bottom: 10px;
    font-weight: bolder;
    text-transform: uppercase;
    margin-top: 50px;
}

main p {
    color: black;
    font-size: 1em;
    padding: 40px;
    text-align: justify;
    margin-top: 10px;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1.2em;
}
#container {
    max-width: 800px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Garante que o texto fique à esquerda e a imagem à direita */
    gap: 20px; /* Espaço entre o texto e a imagem */
    text-align: center;
}

.img-lado {
    width: 200px; /* Ajuste conforme necessário */
    height: auto;
    border-radius: 10px; /* Deixa a imagem com cantos arredondados */
    margin-bottom: 20px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.455);
}

section{
    padding: 40px;
}

section > p {
    display: inline-block;
    padding: 5px;
    color: blac;
    margin-bottom: 20em;
    font-size: 1.3em;

}
a {
    text-decoration:none;
    color: black;
    font-weight: bold;
}

a:hover {
    color: var(--cor1);
    background-color: var(--cor1);
    text-decoration: underline;
}

footer > p {
    color: black;
}
footer{
    background-color: var(--cor1);
    text-align: center;
    padding: 5px;
    font-size: 1em;
    margin-top: 20px;
    color: white;   
}